/* Add CSS Styling */
.odd-elements {
    font-family: Verdana, 'DejaVu Sans', sans-serif;
    background-color: rgb(255, 141, 141);
}
#second-element{
    color: rgb(0,0,255);
    font-size: 36px;
}
.third-element{
    font-size: 24px;
}
#fourth-element{
    background-color: rgb(133,255,133);
    font-size: 24px;
    font-weight: bold;
}