/* Add CSS Styling */
.first-element,
.second-element{
    font-family: Helvetica, 'Times New Roman', sans-serif;
    font-size: 28px;
}
.first-element{
    background-color: rgb(10,10,10);
    font-weight: 500;
    color: white;
}
.second-element{
    background-color: rgb(255,239,0);
}